*

!*/
!/.gitignore
!bin/**
!kitty/**
!sublime-text/Packages/User/**
!sublime-text/Packages/HTML/Snippets/**
!sublime-text/Packages/C++/**
!sublime-text/Packages/Python/**
!sublime-text/Packages/sublime-profiles/Data/**
!sublime-text/Packages/Copy Cut and Paste Lines/**

!clangd/**
!fish/**
!helix/**

!styles/**

# TODO wat?
fish/node_modules
fish/package.json
