*

!*/
!/.gitignore
!bin/**
!kitty/**
!sublime-text/Packages/User/**
!sublime-text/Packages/HTML/Snippets/**
!sublime-text/Packages/C++/Snippets/**
!sublime-text/Packages/sublime-profiles/Data/**

!clangd/**
!fish/**
!helix/**
